﻿@model Trecco.Dominio.Entidades.Quadro

<div class="col-md-3">
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">
                @Html.RouteLink(Model.Nome, "Grupos", new { idQuadro = Model.Id.Valor }, new { @class = "text-lg" })
            </h2>
            <!-- TODO: Trocar para a descrição do quadro -->
            @*<div>*@

            @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus est non tincidunt lacinia. Mauris molestie lorem quam, quis commodo justo aliquam ac.*@
            @*</div>*@
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Alterado em: @Html.DisplayFor(modelItem => Model.DataDeAlteracao)</small>
                <div role="group">
                    @{
                        var buttonId = $"btnAcoes-{Model.Id.Valor}";

                        <button id="@buttonId" type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="@buttonId">
                            @Html.ActionLink("Editar", "Edit", new { id = Model.Id.Valor }, new { @class = "dropdown-item", role = "button" })
                            @Html.ActionLink("Excluir", "Delete", new { id = Model.Id.Valor }, new { @class = "dropdown-item", role = "button" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>