﻿@model Trecco.ViewModels.Quadros.Forms.QuadroForm

@{
    ViewBag.Title = "Criar novo quadro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Novo Quadro</h2>

@{ Html.RenderPartial("_Form", Model); }

<div>
    @Html.ActionLink("Voltar", "List")
</div>
