﻿@model IEnumerable<Trecco.Dominio.Entidades.Quadro>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quadros</h2>

<p>
    @Html.ActionLink("Criar quadro", "Create") | @Html.ActionLink("Ver Lixeira", "List", "Lixeira")
</p>
@if (TempData.ContainsKey("MensagemSucesso"))
{
    <p>
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        Html.RenderPartial("_CardQuadro", item);
    }
</div>
