﻿@{
    ViewBag.Title = "Criar novo Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar novo grupo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Quadro</h4>
        <hr />
        <div class="form-group">
            <label for="txtNomeGrupo">Nome</label>
            <input type="text" class="form-control" id="txtNomeGrupo" name="txtNomeGrupo" placeholder="Insira o nome do novo grupo">
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "List")
</div>
