﻿@model Trecco.ViewModels.Usuarios.CadastroForm

@{
    ViewBag.Title = "Novo Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crie sua nova conta</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger small" }, "div")
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            <small id="emailHelp" class="form-text text-muted">Digite o seu primeiro nome.</small>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Sobrenome)
            @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger small" }, "div")
            @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
            <small id="emailHelp" class="form-text text-muted">Digite o seu sobrenome.</small>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" }, "div")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            <small id="emailHelp" class="form-text text-muted">Seu e-mail será utilizado para o acesso ao aplicativo.</small>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger small" }, "div")
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
            <small id="senhaHelp" class="form-text text-muted">A senha deverá conter no mínimo 8 caracteres.</small>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmarSenha, htmlAttributes: new { @class = "control-label" })
            @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger small" }, "div")
            @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control" })
            <small id="confirmarSenhaHelp" class="form-text text-muted">A confirmação da senha deve ser idêntica a senha escolhida.</small>
        </div>

        <input type="submit" value="Criar uma nova conta" class="btn btn-success" />
    </div>
}
